name: Custom
on:
  push:
    branches:
      - custom
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.14

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Login Docker Hub
      env:
        DOCKERHUB_ACCESS_TOKEN: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      run: echo ${DOCKERHUB_ACCESS_TOKEN} | docker login --username yujunz --password-stdin

    - name: Build
      env:
        IMAGE_NAMESPACE: yujunz
        DOCKER_PUSH: true
      run: make image
